<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sj.ssm.mapper.UserMapper">

    <resultMap id="selectUserResult" type="com.sj.ssm.domain.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="age" column="age"/>
        <result property="email" column="email"/>
        <result property="createTime" column="create_time"/>
    </resultMap>
    <!--查询所以用户信息-->
    <select id="selectAllUser" resultMap="selectUserResult">
        SELECT * FROM ssm_user;
    </select>

    <!--根据用户名称查询用户信息-->
    <select id="selectUserByUserName" resultMap="selectUserResult">
        SELECT * FROM ssm_user where username =#{username} limit 1;
    </select>
</mapper>